/* desktop version */
@media only screen and (min-width: 768px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

  body {
    background-color: #e5e5e5;
  }

  .main-wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 80px;
    width: 1500px;
  }

  .menu {
    display: none;
  }

  .desktop-list {
    list-style: none;
    display: flex;
    gap: 26px;
    padding-right: 150px;
  }

  .desktop-list li a {
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #344563;
    font-style: normal;
  }

  .toolbar {
    flex: 1 1 auto;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 10px;
  }

  .logo-place {
    margin-left: 12px;
  }

  .my-logo {
    padding: 10px 12px 10px 12px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  .headline {
    /* width: 100%; */
    background-image: url("images/header-desk-back.png");
    background-size: 1380px 616px;
    border-radius: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: calc(718px - 60px);
    padding-left: 20px;
    padding-right: 20px;
  }

  .headline h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    letter-spacing: 0.25px;
    padding-left: 350px;
    color: #172b4d;
    padding-top: 80px;
  }

  .text {
    padding-left: 350px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    padding-right: 180px;
    color: #344563;
  }

  .headline h2 {
    padding-left: 350px;

    /* font-family: "poppins",sans-serif; */
  }

  .social-media {
    padding-left: 350px;
  }

  .works {
    display: none;
  }

  .about-myself {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top-right-radius: 100px;
    margin-top: 4535px;
  }

  .second-desk-card {
    display: grid;
    grid-template-columns: 544px 612px;
    width: 1270px;
    height: 492px;
    border-radius: 24px;
    margin-top: -6220px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #fff;
  }

  /* first-desktop-card */
  .second-desk-card img {
    padding: 20px;
  }

  .first-list-tonic {
    padding-left: 70px;
    display: flex;
    width: 500px;
    gap: 18px;
  }

  .first-list-tonic li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .second-desk-card h2 {
    padding-left: 70px;
  }

  .canopy {
    color: #344563;
    width: 65px;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
  }

  .dot {
    width: 8px;
  }

  .o-li {
    color: #6b778c;
    width: 100px;
  }

  .tonic h2 {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
  }

  .tonic p {
    color: #344563;
    font-weight: 400;
    font-size: 19px;
    font-family: "poppins", sans-serif;
    height: 50px;
    width: 530px;
    padding-left: 70px;
    line-height: 26px;
  }

  .second-list-tonic {
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding-left: 85px;
  }

  .second-li {
    color: #6070ff;
    width: 50px;
    height: 30px;
    list-style: none;
    font-family: "poppins", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    margin: 4px;
    background: #ebebff;
    border-radius: 8px;
    justify-content: space-between;
  }

  .project-container {
    border-style: solid;
    border-width: 2px;
    border-color: #6e88ca;
    padding: 10px;
    margin-left: 80px;
    margin-top: 50px;
    display: flex;
    width: 120px;
    height: 25px;
    border-radius: 8px;
  }

  .project-container button {
    border-color: #dfe1e6;
    border-width: 0;
    background-color: #fff;
    width: 120px;
    align-self: center;
    font-family: "poppins", sans-serif;
    font-size: 18.5px;
    font-weight: 550;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  /* second-desktop-card */
  .third-desk-card {
    display: grid;
    grid-template-columns: 612px 544px;
    width: 1260px;
    height: 492px;
    border-radius: 24px;
    margin-top: 90px;
    margin-left: 80px;
    padding-right: 10px;
    background-color: #fff;
  }

  .third-image {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 70px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .third-text {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .third-text h2 {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
    padding-left: 70px;
  }

  .third-text p {
    color: #344563;
    font-weight: 400;
    font-size: 19px;
    font-family: "poppins", sans-serif;
    height: 50px;
    width: 530px;
    padding-left: 70px;
    line-height: 26px;
  }

  /* third-desktop-card */
  .fourth-desk-card {
    display: grid;
    grid-template-columns: 554px 612px;
    width: 1270px;
    height: 492px;
    border-radius: 24px;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #fff;
  }

  .fourth-desk-card img {
    width: 534px;
    height: 448px;
    padding: 15px 10px;
  }

  .facebook h2 {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
    padding-left: 70px;
  }

  .facebook p {
    color: #344563;
    font-weight: 400;
    font-size: 19px;
    font-family: "poppins", sans-serif;
    height: 50px;
    width: 530px;
    padding-left: 70px;
    line-height: 26px;
  }

  /* fourth-desktop-card */
  .fifth-desk-card {
    display: grid;
    grid-template-columns: 612px 564px;
    width: 1260px;
    height: 492px;
    border-radius: 24px;
    margin-top: 90px;
    margin-left: 80px;
    padding-right: 10px;
    background-color: #fff;
  }

  .fifth-desk-card img {
    width: 544px;
    height: 448px;
    padding-top: 20px;
    padding-left: 90px;
  }

  .fifth-list-tonic {
    display: flex;
    justify-content: space-between;
    padding-left: 85px;
    width: 350px;
  }

  .fifth-li {
    color: #6070ff;
    width: 80px;
    height: 30px;
    list-style: none;
    font-family: "poppins", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    margin: 4px;
    background: #ebebff;
    border-radius: 8px;
    justify-content: space-between;
  }

  #ruby {
    width: 100px;
  }

  #html {
    width: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .desktop-list {
    display: none;
  }

  .second-desk-card {
    display: none;
  }

  .third-desk-card {
    display: none;
  }

  .fourth-desk-card {
    display: none;
  }

  .fifth-desk-card {
    display: none;
  }
}
