@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
::before,
::after {
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    color:#6070FF;
    font-size:18px;
    font-weight: 700;
    Font-size: 18px ;
    Line-height: 20px; 
    Line-height: 74% ;
  
}
.list a{
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    
}
ul{
   list-style-type: none;
   display: flex;
}