html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #6672db;
}

a:hover {
  color: rgb(160, 27, 10);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background: #f7f3f3;
}

.emailadd {
  color: #344563;
  font-size: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2.4rem 3.6rem 0 2.4rem;
}

.menu-close-btn {
  position: fixed;
  border: 2px solid #67798e;
  top: 20px;
  right: 30px;
}

section.mobile-menu {
  background: rgba(96, 112, 255, 1);
  mix-blend-mode: multiply;
  padding: 25px;
  padding-top: 70px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

section.visible {
  display: block;
}

div.menu-link {
  display: flex;
  flex-direction: column;
}

section.mobile-menu a {
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.logo {
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  text-decoration: none;
}

.links {
  display: none;
}

.headline {
  background-image: url("images/header-shapes\ mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: calc(718px - 45px);
  padding-top: 3.7rem;
  background-color: #fff;
  border-bottom: 2px solid #e9e9eb;
  border-bottom-left-radius: 8rem;
}

.introduction {
  font-family: "Poppins", sans-serif;
  margin: 0 2.4rem 0 2.4rem;
}

.heading {
  color: #172b4d;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  padding-top: 8.1rem;
}

.heading-desk {
  display: none;
}

.intro-info {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #344563;
  margin-top: 1.2rem;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.social-icons {
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 2rem;
}

.list {
  text-decoration: none;
  list-style: none;
  align-items: center;
}

.works {
  background: #f7f3f3;
  padding: 11.4rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
}

/* popup window   */

.popup-window {
  position: fixed;
  z-index: 4;
  display: none;
  background: rgba(128, 128, 128, 0.5);
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  padding-bottom: 50px;
}

.modal-mobile {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 18px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1.6rem;
  width: auto;
  height: 713px;
  gap: 1.2rem;
  padding: 1.6rem;
  overflow: hidden;
  backdrop-filter: blur(4px);
}

.modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-head h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.modal-mobile article {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.PopUp-link {
  text-decoration: none;
  display: flex;
  gap: 10px;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
}

.window-buttons {
  border-radius: 0.8rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.window-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 25px;
  color: #6070ff;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.window-btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.projects {
  border: 1px solid #dfe1e6;
  border-radius: 1.6rem;
  background-color: #fff;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  margin: 0 2.4rem;
  gap: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.project-1 {
  width: 100%;
  margin-top: 5rem;

  /* transition: transform 0.5s ease-out; */
}

.last-project {
  padding-bottom: 11.4rem;
}

.desktop-project {
  display: flex;
  flex-direction: column;
}

.project-1-desktop {
  display: none;
}

.title {
  color: #172b4d;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.title-desk {
  display: none;
}

.categories {
  display: flex;
  padding-left: 0;
  gap: 1.2rem;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.categories-desk {
  display: none;
}

.categories li {
  list-style: none;
}

.item1 {
  color: #344563;
}

.counter {
  color: #7a869a;
}

.img-counter {
  margin-right: 1.2rem;
}

.intro-works {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #344563;
  float: left;
}

.intro-works-project2 {
  display: none;
}

.languages {
  display: flex;
  padding-left: 0;
  gap: 0.8rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
}

.lang-desk {
  display: none;
}

.languages li {
  list-style: none;
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
  background: #ebebff;
  color: #6070ff;
}

.see-project {
  width: 50%;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #396df2;
  padding: 1.2rem;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 1.6rem;
}

.see-project:hover {
  background-color: #6070ff;
  color: #fff;
}

.see-project:active {
  background-color: #2230d2;
  color: #fff;
}

.about-me {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  border-top: 1px solid #e9e9eb;
  border-top-right-radius: 8rem;
  margin-bottom: 11.4rem;
}

.about-intro {
  margin: 11.4rem 2.4rem 0 2.4rem;
}

.title-about {
  color: #172b4d;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  margin-bottom: 1.2rem;
}

.about-text {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.connect-about {
  margin-bottom: 2.6rem;
}

.social-about {
  margin-left: 1.2rem;
  gap: 2.01rem;
  margin-bottom: 2.4rem;
}

.about-btn {
  font-size: 1.7rem;
  line-height: 2.4rem;
  border-radius: 0.8rem;
  margin-bottom: 4.8rem;
  width: 35% !important;
}

.about-languages {
  margin: 0 2.4rem;
}

.lang-skills {
  padding-left: 0;
  font-family: "Poppins", sans-serif;
}

.lang-skills li {
  list-style: none;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-left: 1.2rem;
}

.lang {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  align-content: center;
  gap: 1.2rem;
  margin: 2.4rem 0;
}

.lang li {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #253858;
  margin-left: 0;
}

.lang1 {
  display: flex;
  background-color: #f7f7f9;
  border-radius: 0.8rem;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 0.9rem;
}

.framework,
.language-one {
  display: flex;
  justify-content: space-between;
  padding-right: 2.4rem;
}

.framework {
  padding: 2.3rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url("images/contact\ back\ new.png");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 8rem;
  border-top: 1px solid #e9e9eb;
}

.contact-title {
  text-align: center;
  margin-bottom: 1.2rem;
  color: #fff;
  margin-top: 10.3rem;
  line-height: 5.2rem;
}

.contact-info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  color: #ebebff;
  margin-bottom: 4rem;
}

.form {
  margin: 0 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.label {
  color: #fff;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.text {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 1.5rem 0 1.5rem 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: start;
  color: #172b4d;
}

.text-area {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #000;
  text-align: left;
  padding: 10px 5px;
}

.submit {
  border-radius: 0.8rem;
  width: 35% !important;
  transition-property: background-color;
  transition-duration: 2s;
  transition-delay: 0s;
}

.submit:hover {
  background-color: rgb(255, 17, 0);
}

.img {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.contact-img {
  width: 134px;
  height: 5px;
  margin-bottom: 0.8px;
  margin-top: 2rem;
}

.submit-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  padding: 1.5rem;
  color: #ca0f0f;
  font-size: 2.5rem;
  border-radius: 8px;
  margin: 5px 0;
  font-family: sans-serif;
}

/* desktop version css styles */

@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }

  .header {
    padding-left: 15.5rem;
    padding-right: 15.5rem;
  }

  .links {
    display: flex;
    gap: 3.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #344563;
  }

  .mobile-menu {
    display: none;
  }

  .links li {
    list-style: none;
  }

  .links a {
    color: #344563;
    text-decoration: none;
  }

  .headilne-desk {
    background-image: url("images/Header\ bg.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 721px;
    padding-top: 11.8rem;
    padding-left: 3.46rem;
    padding-right: 0.8rem;
  }

  .introduction {
    width: 60%;
    margin: 0 auto;
  }

  .heading {
    display: none;
  }

  .heading-desk {
    display: block;
    font-size: 4.8rem;
    line-height: 6rem;
    letter-spacing: 0.037rem;
    margin-bottom: 0;
  }

  .intro-info {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    gap: 4.6rem;
  }

  .project-1-desktop {
    display: inline-block;
  }

  #project1-desktop {
    height: 50%;
    object-fit: cover;
  }

  .modal-mobile {
    margin-left: 142px;
    margin-right: 142px;
    margin-top: 77px;
    height: 90%;
  }

  .modal-head h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .PopUp-link {
    gap: 0.2rem;
    padding-left: 0;
    padding-right: 0;
  }

  section.modal-mobile.project-1-desktop {
    height: 20%;
  }

  section.modal-mobile > ul.categories {
    margin-left: 0;
  }

  section.modal-mobile div.lang-buttons > ul.languages {
    margin-top: 0;
    margin-bottom: 0;
  }

  .project-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.9rem;
    margin-top: 3rem;
  }

  .line {
    display: none;
  }

  .intro-works-project1 {
    display: none;
  }

  .intro-works-project2 {
    display: block;
  }

  .projects-two-desk img {
    order: 1;
  }

  .project {
    display: none;
  }

  .title {
    line-height: 5.2rem;
    font-size: 4rem;
    margin-bottom: 0;
  }

  .title-mobile {
    display: none;
  }

  .title-desk {
    display: block;
  }

  .categories {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 2rem auto;
  }

  .categories-mobile {
    display: none;
  }

  .categories-desk {
    display: flex;
  }

  .intro-works {
    line-height: 2.4rem;
    font-size: 1.6rem;
  }

  .languages {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 2.4rem;
    margin-bottom: 4rem;
  }

  .lang-desk {
    display: inline;
  }

  .see-project {
    width: 25%;
    border-radius: 0.8rem;
  }

  /* About me section  trial styles */

  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 14.2rem;
    background-color: #fff;
  }

  .about-intro {
    margin-top: 0;
    padding-left: 14.6rem;
  }

  .about-languages {
    padding-right: 14.6rem;
  }

  .title-about {
    margin-top: 0;
  }

  .social-about {
    margin-bottom: 3.4rem;
  }

  .lang {
    flex-direction: row;
    padding-inline-start: 0;
    gap: 2.4rem;
  }

  .lang1 {
    flex-direction: column;
    width: 122px;
    align-items: start;
    gap: 1.6rem;
    padding: 2rem 1.2rem;
  }

  .language-one {
    padding-right: 0;
  }

  .footer {
    background-image: url("images/contact\ form\ background\ shapes.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .form {
    padding-left: 6.3rem;
    padding-right: 6.3rem;
    gap: 2.7rem;
  }

  .contact-info {
    text-align: center;
  }

  .footer-section {
    width: 50%;
    margin: 0 auto;
  }

  .submit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
